.logo__icon {
    left: 30px;
    width: 10vw;
    height: 12.5vw;
    transition: all .8s ease-in-out;
    z-index: 20;
    /* background: gray; */
}

.header__container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    /* top: 35px;
    left: 15px; */
    padding: 0 32px;
    z-index: 1;
}

.header__nav {
    display: flex;
    /* margin-left: 66vh; */
    left: 81.5vh;
    top: 25px;
    text-align: right;
    transition: all .3s ease-in-out;
    z-index: 20;
    position: fixed;
}

.header_item {
    display: flex;
    align-items: center;
    margin-left: 25px;
    font-family: Montserrat,sans-serif;
    -webkit-appearance: none;
}

.header__360 img{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: 50%;
    margin-top: -13px;
}

.header__sub img{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 86px;
    /* top: -1%;
    margin-top: -13px; */
}

.header_item span{
    line-height: 1.6;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    margin: 0 15px;
    /* margin: 0 15px 0 0;
    padding: 0 0 0 40px; */
    text-transform: uppercase;
}

.header__lang {
    position: relative;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}

.header__lang::before {
    content: "";
    width: 1px;
    height: 8px;
    position: absolute;
    right: -1px;
    top: 50%;
    margin-top: -4px;
    background-color: currentColor;
    right: auto;
    left: -1px;
}

.header__lang::after {
    content: "";
    width: 1px;
    height: 8px;
    position: absolute;
    right: -1px;
    top: 50%;
    margin-top: -4px;
    background-color: currentColor;
}