* {
  scrollbar-color: #7fc09baa #dee2e6;
  scrollbar-width: thin;
  /* font-family: Roboto, sans-serif; */
}

::-webkit-scrollbar {
  width: 7px; /* horizontal scrollbar width */
  height: 7px; /* vertical scrollbar height */
  border-radius: 2rem;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #dee2e6;
  border-radius: 2rem;
}
::-webkit-scrollbar-thumb {
  background: #7fc09baa;
  border-radius: 2rem;
}
::-webkit-scrollbar-thumb:hover {
  background: #7fc09bee;
}

html {
  font-size: calc(0.6rem + 0.4vw);
}

body {
  background: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
