:root {
  /* ---------------- COLOR ---------------- */

  --lightest_border: #eee;
  --light_border: #ddd;
  --border: #ccc;
  --border_radius: 0.5rem;
  
  --back_color: #fafdfb;
  --back_color_content: #fefefe;
  --light_color: #556;
  --color: #334;
  
  --back-color-footer: #303533;
  --fore-color-footer: #d0d8d5;

  --light_white: #f3f6f3;
  --white: #eff2ef;
  --dark_white: #ebedef;
  --darker_white: #dbdddf;
  --disabled_white: #eee;
  --translucent_white: #efefefaa;

  --lightest_black: #999;
  --lighter_black: #777;
  --light_black: #555;
  --black: #333;
  --dark_black: #161d25;
  --translucent_black: #374654aa;

  --light_red: #ca5250;
  --red: #ba4240;
  --dark_red: #af4040;
  --darker_red: #a83e3e;
  --darkest_red: #903a3a;
  --disabled_red: #c35b5770;

  --lightest_brown: #d69d7d;
  --lighter_brown: #c68d6d;
  --light_brown: #b67d5d;
  --brown: #a66d4d;
  --dark_brown: #965d3d;
  --darker_brown: #864d2d;
  --darkest_brown: #763d1d;
  --disabled_brown: #662d0daa;

  --lightest_white_green: #fafffd;
  --light_white_green: #effff3;
  --white_green: #e6ffee;
  --lightest_green: #d6f0de;
  --lighter_green: #a6d0ae;
  --light_green: #86c08e;
  --green: #66a06e;
  --dark_green: #56905e;
  --darker_green: #46804e;
  --darkest_green: #26602e;
  --disabled_green: #26602eaa;

  --lightest_white_blue: #f8fdff;
  --light_white_blue: #f5faff;
  --white_blue: #f0f5fd;
  --lightest_blue: #a0befe;
  --lighter_blue: #6f7bdb;
  --light_blue: #5075d5;
  --blue: #4060c0;
  --dark_blue: #3f4eae;
  --blur_dark_blue: #3f4eaecc;
  --darker_blue: #38469b;
  --blur_darker_blue: #38469bcc;
  --darkest_blue: #28367b;
  --blur_darkest_blue: #28367bcc;
  --disabled_blue: #2978ff70;
  --black_blue: #113;
  --darkest_blue: #28367b;
  --light_translucent_blue: #38469b33;
  --translucent_blue: #38469b99;

  /* ---------------- SIZE ---------------- */
  --app_width_large: calc(300px + 50vw);
  --sidebar_width: 20rem;
  --header_height: 5.6rem;

  /* ---------------- DISTANCE ---------------- */
  --padding_small: calc(0.3rem + 0.3vw);
  --padding_medium: calc(0.4rem + 0.4vw);
  --padding_large: calc(0.5rem + 0.5vw);

  /* ---------------- FONT ---------------- */
  --font-size-small: calc(9px + 0.3vw);
}
