.border {
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.border-circle {
  border: 1px solid;
  border-radius: 50%;
}

.flex {
  display: flex;
  align-items: center;
}

.flex.left {
  justify-content: left;
}

.flex.center {
  justify-content: center;
}

.flex.right {
  justify-content: right;
}

.horizontal-line {
  border-top: 1px solid var(--light_border);
  width: 100% !important;
  height: 0 !important;
  padding: 0 !important;
  margin: calc(0.5rem + 0.5vw) 0;
}

/* a, p {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
} */