.social {
    height: auto;
    right: 22px;
    bottom: 0;
    display: block;
    position: absolute;
    z-index: 99;

    animation: fadeInUp;
    animation-duration: 1s;
    animation-delay: .6s;
    animation-fill-mode: forwards;
}

.social ul {
    list-style: none;
}

.social li {
    margin: 0 0 10px;
    vertical-align: middle;
}

.social li a {
    color: #fff;
    transition: all .3s ease-in-out;
}

.social li a:hover {
    color: #88d5f3;
}

.social li a:hover .foreground {
    stroke-dashoffset: 0;
}

.social li a svg {
    width: 50px;
    height: 50px;
   
}

/* .social li img {
    width: 26px;
    height: 26px;
    vertical-align: middle;
} */

.foreground {
    fill: transparent;
    stroke-dasharray: 377;
    stroke-dashoffset: 377;
    stroke-width: 1.5;
    transform-origin: 50% 50%;
    transition: stroke-dashoffset .6s ease-in-out;
}

.copyright {
    font-size: 11px;
    text-transform: uppercase;
    color: #88d5f3;
    padding: 15px 0;
    left: 30px;
    text-align: left;
    bottom: 15px;
    display: block;
    position: absolute;
    z-index: 5;
    font-family: Montserrat,sans-serif;
}