.container-slider {
  width: 100%;
  height: 100vh;
  margin: auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
}

@media screen and (max-width: 700px){
  .container-slider {
    margin: 100px 10px 0;
  }
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: top; */
}

.active-anim {
  opacity: 1;
}

.btn-slide {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #eeeeee73;
  /* background: #f1f1f1; */
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide:hover {
  background: rgb(255 255 255);
}

.btn-slide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}

.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%);
}

.next {
  top: 93%;
  right: 50%;
  transform: translateX(50%);
}

.container-thumbnails {
  position: absolute;
  top: 617px;
  left: 47.4%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.img-thumbnail-box {
  width: 75px;
  height: 75px;
  margin: 0 5px;
}

.img-thumbnail-box.active {
  background: rgb(32, 32, 32);
}

.images-thumbnail {
  vertical-align: middle;
  width: 75px;
  height: 75px;
  padding: 0.1rem;
  background-color: #fff;
  border-radius: 0.375rem;
}

.container-dots {
  position: absolute;
  top: 52%;
  left: 30px;
  transform: translateY(-50%);
}

.dot {
  width: 25px;
  height: 25px;
  margin: 25px 0;
  cursor: pointer;
  background: url(../../assets/images/dot.svg) no-repeat 50%;
}

.dot.active {
  transform: scale(1.3);
}

.wheel {
  position: fixed;
  left: 50%;
  margin: 0 0 0 -20px;
  bottom: 20px;
  opacity: 0;
  pointer-events: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 20;

  visibility: hidden;

  transition: all .3s ease-in-out;
  animation: Start 1s steps(1) 0s 1 normal both;
}

.wheel.show {
  opacity: 1;
  pointer-events: auto;
}

.wheel span {
  position: absolute;
  top: 5px;
  left: 14px;
  width: 12px;
  height: 12px;
  border-left: 3px solid rgba(255,255,255,.8);
  border-bottom: 3px solid rgba(255,255,255,.8);
  transform: rotate(-45deg);
  animation: WheelArrow 2s infinite;
  animation-delay: 0s;
  opacity: 0;
}

.wheel span:nth-of-type(2) {
  top: 10px;
  animation-delay: .2s;
  width: 20px;
  height: 20px;
  left: 10px;
}



@media screen and (max-width: 1920px) {
  .container-thumbnails {
    top: 659px;
    left: 45.6%;
    transform: translateX(-51%);
  }

  .img-thumbnail-box {
    width: 112px;
    height: 112px;
  }

  .images-thumbnail {
    width: 112px;
    height: 112px;
  }
}

@media screen and (max-width: 1280px) {
  .img-thumbnail-box {
    width: 76px;
    height: 76px;
  }

  .images-thumbnail {
    width: 76px;
    height: 76px;
  }

  .container-thumbnails {
    top: 617px;
    left: 47.4%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 1080px) {
  .container-thumbnails {
    top: 603px;
    left: 47.1%;
    transform: translateX(-48%);
  }
  
  .img-thumbnail-box {
    width: 66px;
    height: 66px;
  }
  
  .images-thumbnail {
    width: 66px;
    height: 66px;
  }
}

@media screen and (max-width: 1024px) {
  .container-thumbnails {
    top: 617px;
  }

  .img-thumbnail-box {
    width: 64px;
    height: 64px;
  }

  .images-thumbnail {
    width: 64px;
    height: 64px;
  }
}

@media screen and (max-width: 800px) {
  .container-thumbnails {
    top: 602px;
    left: 47.5%;
    transform: translateX(-50%);
  }

  .img-thumbnail-box {
    width: 54px;
    height: 54px;
  }

  .images-thumbnail {
    width: 54px;
    height: 54px;
  }
}